.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
a {
  color: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.frogs.active {
  color: rgb(50, 168, 82);
}

.fire.active {
  color: rgb(189, 4, 13);
}

.barney.active {
  color: rgb(183, 4, 189);
}


header ol {
  width: 100%;
  display: flex;
  justify-content: space-around;
  min-height: 5vh;
}
